<!doctype html>
<html lang="en">
	<body class="text-center"></body>
		Hello there, You are logged in!
		<img src="http://qrpresence.herokuapp.com/qr/get?classid=abcdefghijklmnopqrst" alt="ahaha" width="50%" height="50%">
	</body>
</html>
